@use "../config/variables.module.scss" as vars;

.pagination button {
  width: vars.$spacing-unit * 3.75;
  padding: vars.$spacing-unit / 1.6;
  margin: vars.$spacing-unit / 1.6;
  border-radius: 100%;
}

.icons {
  font-size: vars.$spacing-unit * 2.5;
}

.studentTableContainer {
  width: 100%;
  overflow-x: auto;
  margin-bottom: vars.$spacing-unit * 2.5;
}
