@use "sass:math";
@use "../config/variables.module.scss" as vars;

.pagination button {
  width: vars.$spacing-unit * 3.75;
  padding: math.div(vars.$spacing-unit, 1.6);
  margin: math.div(vars.$spacing-unit, 1.6);
  border-radius: 100%;
}

.icons {
  font-size: vars.$spacing-unit * 2.5;
}

.studentTableContainer {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  margin-bottom: vars.$spacing-unit * 2.5;
}
