.pagination button {
  width: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 100%;
}

.icons {
  font-size: 20px;
}

.studentTableContainer {
  width: 100%;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  margin-bottom: 20px;
}
