/* Colores globales */
$primary-color: #4cd3c3;
$primary-color-hover: #43bfb1;
$secondary-color: #2c3e50;
$secondary-color-hover: #34495e;
$text-color: #333333;
$grey: #f4f4f9;
$white: #ffffff;
$black: #000000;
$spacing-unit: 8px;
